<a href="https://colab.research.google.com/github/sreehariar04/python_practice/blob/main/Sreehari_Pandas_CASE_STUDY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Case Study

**1) Import pandas, numpy**

In [2]:
import pandas as pd
import numpy as np

**2) Load dataset using pd.read_csv()**

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv')
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

**3) Display: shape, head, column names, datatypes, missing value**

In [4]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
df.shape

(1000, 12)

In [6]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [7]:
df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [8]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

**4) Check and remove duplicates**

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [10]:
df.duplicated().any() # check if any duplicates present in the data frame.

np.False_

**5) Rename columns ("Title" > "Movie_Title")**

In [11]:
df1 = df.rename(columns={'Title':'Movie_Title'})
df1.head(2)

,Rank,Movie_Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

**6) Get unique genres**

In [12]:
unique_genres = (
    df1['Genre']
    .str.split(',')        # split into lists
    .explode()             # turn lists into rows
    .str.strip()           # remove spaces
    .unique()              # get unique values
)
print(unique_genres)

['Action' 'Adventure' 'Sci-Fi' 'Mystery' 'Horror' 'Thriller' 'Animation'
 'Comedy' 'Family' 'Fantasy' 'Drama' 'Music' 'Biography' 'Romance'
 'History' 'Crime' 'Western' 'War' 'Musical' 'Sport']

**7) Extract number of genres per movie**

In [13]:
df1['Genre_Count'] = df1['Genre'].apply(lambda x: len(x.split(',')))
df1.head(5)

,Rank,Movie_Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Genre_Count
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,3
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,3
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,3

8.

**9) Top 5 movies by Rating**

In [14]:
df1.nlargest(5, 'Rating')

,Rank,Movie_Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Genre_Count
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,3
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,3
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN,3
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,3
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Nari...",2016,106,8.6,34110,4.68,79.0,3

**10) Movies with highest/lowest revenue**

**Highest Revenue(Millions)**

In [15]:
df1.loc[df1['Revenue (Millions)'].idxmax(), ['Movie_Title', 'Revenue (Millions)']]

Movie_Title           Star Wars: Episode VII - The Force Awakens
Revenue (Millions)                                        936.63
Name: 50, dtype: object

**Lowest Revenue**

In [16]:
df1.loc[df1['Revenue (Millions)'].idxmin(), ['Movie_Title', 'Revenue (Millions)']]

Movie_Title           A Kind of Murder
Revenue (Millions)                 0.0
Name: 231, dtype: object

**11) Avg. rating by Director**

In [17]:
df1.groupby('Director')['Rating'].mean()

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
                       ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 644, dtype: float64

**12) Movies per year**

In [18]:
movies_per_year = df1['Year'].value_counts()
print(movies_per_year)

Year
2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: count, dtype: int64

**13) Movies with rating > 8 & revenue > 100M**

In [23]:
df1[(df1['Rating'] > 8) & (df1['Revenue (Millions)'] > 100)][["Movie_Title","Rating","Revenue (Millions)"]]

                                      Movie_Title  Rating  Revenue (Millions)
0                         Guardians of the Galaxy     8.1              333.13
6                                      La La Land     8.3              151.06
36                                   Interstellar     8.6              187.99
50     Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                                The Dark Knight     9.0              533.32
67                             Mad Max: Fury Road     8.1              153.63
74                                       Zootopia     8.1              341.26
76                                   The Avengers     8.1              623.28
77                           Inglourious Basterds     8.3              120.52
80                                      Inception     8.8              292.57
82                        The Wolf of Wall Street     8.2              116.87
83                                      Gone Girl     8.1              167.74
92                                       The Help     8.1              169.71
99                                   The Departed     8.5              132.37
114  Harry Potter and the Deathly Hallows: Part 2     8.1              380.96
124                         The Dark Knight Rises     8.5              448.13
138                                Shutter Island     8.1              127.97
144                              Django Unchained     8.4              162.80
241                                    Inside Out     8.2              356.45
427                          The Bourne Ultimatum     8.1              227.14
499                                            Up     8.3              292.98
634                                        WALLÂ·E     8.4              223.81
645                                   Gran Torino     8.2              148.09
688                                   Toy Story 3     8.3              414.98
772                      How to Train Your Dragon     8.1              217.39

14) **Group by Director: avg Rating, Revenue**

In [24]:
df1.groupby('Director')[['Rating', 'Revenue (Millions)']].mean()

                     Rating  Revenue (Millions)
Director
Aamir Khan             8.50               1.200
Abdellatif Kechiche    7.80               2.200
Adam Leon              6.50                 NaN
Adam McKay             7.00             109.535
Adam Shankman          6.30              78.665
...                     ...                 ...
Xavier Dolan           7.55               3.490
Yimou Zhang            6.10              45.130
Yorgos Lanthimos       7.20               4.405
Zack Snyder            7.04             195.148
Zackary Adler          5.10               6.530

[644 rows x 2 columns]

**15) Group by Year: count, avg Rating**

In [30]:
year_status = df1.groupby("Year").agg(
    movie_count=("Movie_Title", "count"),
    avg_rating=("Rating", "mean")
)

year_status

      movie_count  avg_rating
Year
2006           44    7.125000
2007           53    7.133962
2008           52    6.784615
2009           51    6.960784
2010           60    6.826667
2011           63    6.838095
2012           64    6.925000
2013           91    6.812088
2014           98    6.837755
2015          127    6.602362
2016          297    6.436700

16) Create a new column Profitability:
a) Revenue divided by Duration
b) Find top 10 most profitable movies

In [32]:
df1['Profitability'] = df1['Revenue (Millions)'] / df1['Runtime (Minutes)']
top_10=df1.nlargest(10,"Profitability")
top_10[["Movie_Title","Revenue (Millions)","Runtime (Minutes)","Profitability"]]

,Movie_Title,Revenue (Millions),Runtime (Minutes),Profitability
50,Star Wars: Episode VII - The Force Awakens,936.63,136,6.886985
85,Jurassic World,652.18,124,5.259516
119,Finding Dory,486.29,97,5.013299
87,Avatar,760.51,162,4.694506
76,The Avengers,623.28,143,4.358601
15,The Secret Life of Pets,368.31,87,4.233448
688,Toy Story 3,414.98,103,4.028932
12,Rogue One,532.17,133,4.001278
174,Frozen,400.74,102,3.928824
797,Despicable Me 2,368.05,98,3.755612

17) Create a column that categorizes movies by rating:
a) Rating < 6: Poor
b) 6 â‰¤ Rating < 7.5: Average
c) Rating â‰¥ 7.5: Excellent

In [37]:
df1["Rating_Summary"]=df1["Rating"].apply(lambda x: 'Poor' if x < 6 else ('Average' if x < 7.5 else 'Excellent'))
df1[['Movie_Title', 'Rating', 'Rating_Summary']]

                 Movie_Title  Rating Rating_Summary
0    Guardians of the Galaxy     8.1      Excellent
1                 Prometheus     7.0        Average
2                      Split     7.3        Average
3                       Sing     7.2        Average
4              Suicide Squad     6.2        Average
..                       ...     ...            ...
995     Secret in Their Eyes     6.2        Average
996          Hostel: Part II     5.5           Poor
997   Step Up 2: The Streets     6.2        Average
998             Search Party     5.6           Poor
999               Nine Lives     5.3           Poor

[1000 rows x 3 columns]

18) Create a custom function to score movies based on:
i) Apply row['Rating'] * 10 + row['Revenue (Millions)'] as High score
Apply a function to dataset to assign the score

In [42]:
df1['High_Score'] = df1.apply(lambda row: row['Rating'] * 10 + row['Revenue (Millions)'], axis=1)
df1[['Movie_Title', 'Rating', 'Revenue (Millions)', 'High_Score']]

                 Movie_Title  Rating  Revenue (Millions)  High_Score
0    Guardians of the Galaxy     8.1              333.13      414.13
1                 Prometheus     7.0              126.46      196.46
2                      Split     7.3              138.12      211.12
3                       Sing     7.2              270.32      342.32
4              Suicide Squad     6.2              325.02      387.02
..                       ...     ...                 ...         ...
995     Secret in Their Eyes     6.2                 NaN         NaN
996          Hostel: Part II     5.5               17.54       72.54
997   Step Up 2: The Streets     6.2               58.01      120.01
998             Search Party     5.6                 NaN         NaN
999               Nine Lives     5.3               19.64       72.64

[1000 rows x 4 columns]